
<div class="row">
    <div class="col-xs-12">
        <h3>Upload/Download DB File</h3>
        <form ng-submit="uploadFile()" enctype="multipart/form-data">
            
            <div class="form-group">
                <label for="uploadDB"><h4>File</h4></label>
                <input id="uploadDB" ngf-select ng-model="f_upload" name="file"  type="file">
            </div>
            
            <button type="submit" class="btn btn-info">Upload</button>
            <button ng-click="downloadFile()" class="btn btn-info">Download</button>
        </form>
    </div>
</div>
