<div class= "col-sm-12 col-lg-10">
    <div class = "row">
        <div class="col-sm-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Edit User</h3>
                    <form>
                        <div class="form-group" ng-class="{'has-error': formerror.username}">
                            <label for="username"><h4>Username</h4></label>
                            <input class="form-control" id="username"  ng-model="formdata.username" type="text" required>
                            <span class="help-block" ng-if="formerror.username">{{formerror.username}}</span>
                        </div>
                        
                        <div class="form-group" ng-class="{'has-error': formerror.name}">
                            <label for="name"><h4>Name</h4></label>
                            <input class="form-control" id="name" ng-model="formdata.name" type="text" required>
                            <span class="help-block" ng-if="formerror.name">{{formerror.name}}</span>
                        </div>

                        <!--<div class="form-group">
                            <label for="photo"><h4>Photo</h4></label>
                            <input id="photo" ng-model="formdata.photo" type="file" accept="image/*" required>
                        </div>-->
                        
                        <div class="form-group" ng-class="{'has-error': formerror.description}">
                            <label for="description"><h4>Description</h4></label>
                            <textarea class="form-control" id="description" ng-model="formdata.description" type="text" required></textarea> 
                            <span class="help-block" ng-if="formerror.description">{{formerror.description}}</span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': formerror.birthday}">
                            <label for="birthday"><h4>Birthday</h4></label>
                            <input class="form-control" id="birthday" ng-model="formdata.birthday_date" placeholder="{{formdata.birthday_date}}" type="date" required>
                            <span class="help-block" ng-if="formerror.birthday">{{formerror.birthday}}</span>
                        </div>
                        <button type="submit" ng-click="editUser()" class="btn btn-success">Edit</button>
                        <button type="submit" ng-click="changePassword()" class="btn btn-default">Change Password</button>
                        <button type="submit" ng-click="deleteUser()" class="btn btn-danger">Remove</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>