<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
        <form ng-submit="onSubmit()">
            <div class="form-group">
                <label for="id_username">Username</label>
                <input class="form-control" type="text" ng-model="username" placeholder="Username" id="id_username" required>
            </div>
            <div class="form-group">
                <label for="id_password">Password</label>
                <input class="form-control" type="password" ng-model="password" placeholder="Password" id="id_password" required>
            </div>
            <div class="form-group">
                <input class="form-control btn btn-success" type="submit" value="Login">
            </div>
            <div class="form-group">
                <a class="form-control btn btn-default" ng-href="/signup/">SignUp</a>
            </div>
        </form>
    </div>
</div>