<div class="row" ng-controller="searchCtrl">
	<div class="col-xs-12 col-sm-2">
		<div class="row">
			<div class="col-sm-12">
				<h4>Trendic Topics</h4>
			</div>
			<div class="col-sm-12">
				<h5>one<br>
					two<br>
					three<br>
					four</h5>
			</div>
		</div>
	</div>
	<div class= "col-xs-12 col-sm-10">

			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12" >
						<h3>Users</h3>
					</div>
					<div class="col-xs-12" ng-repeat="user in users">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-12">
										<h4>{{user.username}}</h4>
									</div>
									<div class="col-sm-12">
										<h5>{{user.bio}}</h5>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<h4>foto</h4>
							</div>
							
						</div>
					</div> <!--um desse para cada user-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
