<div class= "col-sm-12 col-lg-10">
    <div class = "row">
        <div class="col-sm-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Create New Group</h3>
                    <form ng-submit="newGroup()">
                        <div class="form-group" ng-class="{'has-error': formerror.name}">
                            <label for="name"><h4>Group Name</h4></label>
                            <input class="form-control" id="name" placeholder="Name" ng-model="formdata.name" type="text" required>
                            <span class="help-block" ng-if="formerror.name">{{formerror.name}}</span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': formerror.users}">
                            <label for="users"><h4>Users</h4></label>
                            <select class="form-control" id="users" ng-model="formdata.users" multiple="" ng-options="u.id as u.login for u in allUsers"></select>
                            <span class="help-block" ng-if="formerror.users">{{formerror.users}}</span>
                        </div>
                        <button type="submit" class="btn btn-success">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>